# -*- coding: utf-8 -*-
"""
Created on Sat Aug 20 22:21:06 2022

@author: Bhargav
"""

html { font-family: sans-serif; background-image: url("picture.jpg") ; padding: 1rem; }
body{ max-width: 960px; font:15px/1.5 Arial, Helvetica,sans-serif; 	padding: 0px; 	margin: 0 auto; background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); }

.container{ width:100%; margin: auto; overflow: hidden;}

header{ background:#000000;	border-bottom:#448AFF 10px solid;height:120px; width:100%; 	padding-top:10px;}

.main-header{ text-align:center;background-color: blue;	height:100px;width:100%;margin:0px;	}
form { text-align:center;  }
#brandname{ font-size:30px;	text-align:center; 	color: #fff;}
p{font-size:30px;	text-align:center; color:#D2122E; font-weight:bolder}
header h2{ 	text-align:center; 	font-size:30px;	color:#fff;}
.btn-info {background-color: #eb1b7c;	height:40px; 	width:100px;}
.btn-info:hover {background: #0b7dda; }
footer.footer {position: relative; height:60px; width: 100%;background-color: #333333;}
.resultss{ 	border-radius: 15px 50px;  background: #345fe4;  padding: 20px;  width: 200px; height: 150px; }